.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    color: black;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-shadow:
        -1px -1px 0 oldlace,
        1px -1px 0 oldlace,
        -1px 1px 0 oldlace,
        1px 1px 0 oldlace;
}

.logoImg {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navLinks a {
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
    text-shadow:
        -1px -1px 0 oldlace,
        1px -1px 0 oldlace,
        -1px 1px 0 oldlace,
        1px 1px 0 oldlace;
}

.navLinks a:hover {
    color: rgb(193, 183, 48);
    text-shadow: none;
    transform: scale(1.2);
}

.logoutBtn {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-family: "Tagesschrift", system-ui;
    transition: color .3s ease-in, background-color .3s ease-in, transform .3s ease-in, border-radius 0.3s ease-in;
    animation: .5s ease-in;
    text-shadow:
        -1px -1px 0 oldlace,
        1px -1px 0 oldlace,
        -1px 1px 0 oldlace,
        1px 1px 0 oldlace;
}

.logoutBtn:hover {
    background-color: #e7d72a;
    color: white;
    border: 1px;
    border-radius: 30px;
    cursor: pointer;
    text-shadow: none;
    transform: translateY(-7px);
}

